@use "base/setting" as *;
@use "base/function" as *;
@use "base/_breakpoints.scss" as *;

.splide {

}

.splide__track {

}

.splide__list {

}

.splide__slide {
  width: 400px;
}

.splide__slide img {
  aspect-ratio: 2/1;
  object-fit: cover;
}